<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" stderr="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </coverage>
  <php>
    <server name="HTTP_HOST" value="127.0.0.1"/>
  </php>
  <testsuites>
    <testsuite name="All tests">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
